body {
  margin: 0;
  font-family: sans-serif;
  background-color: #0d0d1a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d0d1a;
  padding: 1rem 2rem;
  border-bottom: 2px solid #2a2a40;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

nav ul li a:hover {
  border-bottom: 2px solid white;
}

.search {
  display: flex;
  gap: 0.5rem;
}

.search input {
  padding: 0.4rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #1a1a2e;
  color: white;
}

.search button {
  padding: 0.4rem 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: black;
  color: white;
  cursor: pointer;
}

main {
  padding: 2rem;
  min-height: 300px;
}

footer {
  text-align: center;
  padding: 1rem;
  border-top: 2px solid #2a2a40;
  color: #aaa;
}
/* Thêm vào cuối file style.css */
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
}



/* eff 2 */
.image-container {
  position: relative;
  width: 300px; /* hoặc kích thước bạn muốn */
  overflow: hidden;
}

.image-container img {
  width: 100%;
  display: block;
}

.details {
  position: absolute;
  bottom: -100%; /* Ẩn khỏi view */
  left: 0;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.7); nền mờ */
  color: white;
  text-align: center;
  padding: 10px;
  transition: bottom 0.5s ease; /* hiệu ứng trượt */
}

.image-container:hover .details {
  bottom: 0; /* Khi hover, trượt lên */
}
