body{
    max-width: 1024px;
    margin: 0 auto;
    font: 1.2em Helvetica, arial, sans-serif;
    display: grid;
    grid-template-areas:
    "header-cell"
    "nav-cell"
    "main-cell"
    "footer-cell"
    ;
}
main,header,footer {
    border: 1px solid #ccc7c8;
    background-color: #fff;
    border-radius: 5px;
}
header{
    grid-area: header-cell;
    margin-bottom:2px;
    height:100px;
    padding:0 5px;
    background-image:url(images/header.png);
}
#header-img1{
    height:100px;
    position:absolute;
    top:-30px;
    animation:img1 3s;
    animation-fill-mode: forwards;
}
    @keyframes img1{
    from {left: 80%;}
    to{left:30%;}
    }
#header-img2{
    height:70px;
    position:absolute;
    top:-5px;
    animation:img2 3s;
    animation-fill-mode: forwards;
}
@keyframes img2{
    from {left: 80%;}
    to{left:45%;}
}
#header-img3{
    height:80px;
    position:absolute;
    top:0;
    animation:img3 3s;
    animation-fill-mode: forwards;
}
@keyframes img3{
    from {left: 80%;}
    to{left:63%;}
}
nav{
    grid-area: nav-cell;
    margin-top:20px;
}
nav a
{
    float: left;
    margin:3px;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 2px 4px;
    height:20px;
    background:#ffffff80;
    text-decoration:none;
    font-size: 17px;
    color:#ed4190;
    text-align: center;
    box-shadow: 0 0 3px 0 #00000066, 0 0 2px 0 #0000004d;
}
nav a:hover
{ color:#fff;
    background: #ed4190;
}
.search-container{
    float: right;
    padding-top:3px;
}
.icon-white,.icon-pink {
    padding: 4px;
    background: #cddc39;
    min-width: 30px;
    color: #fff;
    text-align: center;
    cursor:pointer;
}
.icon-pink {
    color: #ed4190;
    margin-left:5px;
}
main{
    grid-area: main-cell;
    margin-bottom:3px;
    margin-top: 50px;
    padding:0 5px;
}
footer{
    grid-area: footer-cell;
    text-align:center;
    margin-top:2px;
}
.uptoTOP{
    float: inline-end;
    position: fixed;
    bottom: 10px;
    right: 50px;
}
h1,h2,h3
{
color: #F90B6D;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
}
h1 {
margin: 12px 0 16px;
font-size: 28px;
line-height: 34px;
text-align:center;
text-transform: uppercase;
}
h1:after {
position: relative;
left: 50%;
display: block;
content: " ";
width: 200px;
height: 3px;
transform: skewX(-12deg) translateX(-50%);
background: radial-gradient(#cddc39, #fff);
}
.pushDOWN{
    position: relative;
    top: 11px;
}
main > img{
    padding-left: 40%;
    position: relative;
    top: 3px; left: -3px;
}
main i{
    color: #fff;
    background-color: #cddc39;
    position: relative;
    border: #cddc39 solid 3px;
    top: 7px; right: 3px;
}
main div{
    position: relative;
    padding-left: 20%;    
}
main input{
    position: relative;
    top: 4px;
    padding-right: 50px;
}
main button{
    border: 1px black solid;
    background-color: #fff;
    color: #ed4190;
    height: 25px;   
}
main button:hover{
    background-color: #ed4190;
    color: white;
}
.submit{
        margin-top: 10px;
        padding-left: 30%;
        margin-bottom: -10px;
}
.tick{
    margin-right: 27%;
    text-align: justify;
}